

.button:hover{
    transition: background-color .3s;
}

.button:hover i{
    /* font-size: 1.1em;
    transition: .2s ease-out; */
    transform: scale(1.03);
    transition: transform .1 ease-in-out;
    transform-origin: 50% 50%;
}

.button:hover img{
    /* font-size: 1.1em;
    transition: .2s ease-out; */
    transform: scale(1.03);
    transition: transform .1 ease-in-out;
    transform-origin: 50% 50%;
}

.menu-primary-enter {
    position: absolute;
    transform: translateX(-100%);
}

.menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;

}

.menu-primary-exit {
    position: absolute;

}

.menu-primary-exit-active {
    transform:translateX(-110%);
    transition: all var(--speed) ease;
}

.menu-secondary-enter {
    transform: translateX(110%);
}

.menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;

}

.menu-secondary-exit {
    position: absolute;
    
}

.menu-secondary-exit-active {
    transform:translateX(110%);
    transition: all var(--speed) ease;
}
    